<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
</head>

<body>
  <header>
    <a href="/" class="logo">
      {{#if user}}
        <h3>Your Dashboard</h3>
        {{else}}
        <h3>Tech Blog</h3>
      {{/if}}
      
    </a>
    <nav>
      {{#if user}}
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/auth/logout">Log Out</a>
        {{else}}
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/login">Log In</a>
      {{/if}}
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

<script src="js/front.js"></script>
</body>

</html>