{{#if blogToComment}}
   <div data-id="{{blogToComment.id}}" class="containerLoggedIn">
        <h3 class="title">{{blogToComment.title}}
            <h6>posted on {{blogToComment.createdAt}}</h6>
        </h3>
        <h4 class="content">{{blogToComment.content}}</h4>
    </div>
{{/if}}