{{#if errors}}
  <div class="errors">
    {{#each errors}}
      <p class="error">{{this}}</p>
    {{/each}}
  </div>
{{/if}}


<form action="/auth/login" method="post">
  <h3>Login</h3>
  <input name="username" type="username" placeholder="Enter your username">
  <input name="password" type="password" placeholder="Enter your password">
  <button>Submit</button>
</form>