<form action="/new_post" method="post">
    <input name="title" type="text" placeholder="Enter title">
    <textarea name="content" type="text" placeholder="Enter content"></textarea>
    <button>Submit</button>
</form>