* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 4%;
  background: rgb(156, 3, 187);
}

header * {
  color: #fff;
}

header .logo {
  text-decoration: none;
}

header nav span.username {
  margin-right: 15px;
}

main {
  padding: 35px 4%;
}

.errors {
  margin-bottom: 15px;
}

.error {
  text-align: center;
  margin-bottom: 3px;
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
  border-radius: 5px;
}

form * {
  padding: 7px 10px;
  margin-bottom: 7px;
}

form h3 {
  text-align: center;
  background: rgb(156, 3, 187);
  color: white;
}

form button {
  background: rgba(255, 166, 0, 0.705);
  border-radius: 5px;
}

form button#delete {
  background: red;
  color: white;
}

div#clickDivUpdate {
  margin: 0% 15% 2%;
}

div#clickDivComment {
  margin: 0% 15% 2%;
}

div.containerLoggedIn {
  border: 1px solid rgba(255, 166, 0, 0.705);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
  padding-bottom: 1%;
}

div.container {
  border: 2px solid rgb(156, 3, 187);
  border-radius: 5px;
  margin: 0% 15% 2%;
}

h3.title {
  background: rgb(156, 3, 187);
  color: white;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

h4.content {
  text-align: center;
  padding: 5px;
}

input {
  background: rgba(156, 3, 187, 0.507);
  border-radius: 5px;
  color: white;
  padding: 5px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

textarea {
  resize: none;
}